@charset"utf-8";
*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
html{
	font-size: 100px;
}
body{
	font-size: 0.12rem;
	color: #666;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666;
}
/*头部*/
.cat_one{
	width: 100%;
	height: .54rem;
	line-height: .54rem;
	text-align: center;
	font-size: .16rem;
	font-weight: bold;
	background-color: #f9fafd;
	color: #111;
}

/*地址*/
.address{
	height: .8rem;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}
.address span{
	font-size: .16rem;
	
	display: inline-block;
	height: .2rem;
	line-height: .30rem;
	text-align: center;

}

.address span:nth-of-type(odd){
	width: 30%;
}
.address span:nth-of-type(even){
	width: 60%;
	text-align: left;
}
#te{
	position: absolute;
	right: .2rem;
	top: .8rem;
	font-size: .16rem;
}
/**分隔*/
.gduanA{
	height: 0.1rem;
	width: 100%;
	background-color: #efefef;
}
.xin1{
	height: .39rem;
	width: 100%;
}
.xin1 div:nth-of-type(1){
	height: .39rem;
	width: 100%;
	line-height: .40rem;
	font-size: .16rem;
}
.xin1 div:nth-of-type(1) a:first-of-type span{
	display: inline-block;
	vertical-align: middle;
	height: .16rem;
	width: 5px;
	background-color: #ffd600;
	margin-left: .2rem;
	margin-right: .1rem;
}
.xin1 div:nth-of-type(1) a:last-of-type{
	border: 1px solid red;
	color: red;
	border-radius: 30%;
	position: absolute;
	right: .1rem;
	height: .3rem;
	line-height: .3rem;
	margin-top: .07rem;
}
.xin1 div:nth-of-type(2){
	height: .25rem;
	width: 100%;
	line-height: .25rem;
	text-align: center;
	font-size: .12rem;
	border-bottom: 1px solid #e0e0e0;
}
.xin1 div:nth-of-type(3){
	height: .64rem;
	width: 100%;
	font-size: .16rem;
	line-height: .64rem;
	text-indent: .2rem;
	border-bottom: 1px solid #e0e0e0;
}
.xin1 div:nth-of-type(3) a{
	color: red;
}
.xin1 div:nth-of-type(3) span:last-of-type{
	position: absolute;
	right: .1rem;
}
.xin1 div:nth-of-type(4){
	height: .64rem;
	width: 100%;
	text-indent: .2rem;
	line-height: .64rem;
	font-size: 0.16rem;
	border-bottom: 1px solid #e0e0e0;
}
.xin1 div:nth-of-type(4)>input{
	height: .3rem;
	width: 60%;
	border: 1px solid #e0e0e0;
	border-radius: 5%;
}



.xin1 div:nth-of-type(5){
	height: 1.02rem;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}
.xin1_five dl dt{
	height: .64rem;
	width: .64rem;
	display: inline-block;
	
	background: url(imgs/tu.jpg) no-repeat;
	background-size: 100% 100%;
	margin-right: .2rem;
}

.xin1_five dl dd{
	display: inline-block;
}
.xin1_five dl dd span:nth-of-type(1){
	font-size: .16rem;
	display: inline-block;
	height: .6rem;
	margin-top: .1rem;

}
.xin1_five dl dd span:nth-of-type(2){
	color: red;
	line-height: .20rem;
	font-size: .14rem;
}

.xin1_five dl dd span:nth-of-type(3){
	height: .25rem;
	width: .25rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	margin-left: .6rem;
	background: url(imgs/jian.png) no-repeat center;
	background-size: 50% 25%;
}
.xin1_five dl dd span:nth-of-type(5){
	height: .25rem;
	width: .25rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	background: url(imgs/jia.png) no-repeat center;
	background-size: 50% 50%;
}
.xin1_five dl input{
	width: .4rem;
	display: inline-block;
	vertical-align: top;
	margin-top: .5rem;
}

.xin1 div:nth-of-type(6){
	height: .65rem;
	width: 100%;
	line-height: .65rem;
}
.xin1 div:nth-of-type(6) input{
	width: .4rem;
	display: inline-block;
	vertical-align: middle;
}
.xin1 div:nth-of-type(6) span{
	font-size: .16rem;
}
.xin1 div:nth-of-type(6) span:last-of-type{
	position: absolute;
	right: 0rem;
	width: 1.29rem;
	text-align: center;
	background-color: #ffd600;
}